.vng-logo {
    display: inline-block;
    width: 89px;
    height: 61px;
    background: url(img/VNG-Realisatie.png) no-repeat center center;
    background-size: 100% auto;
    text-indent: -9999px;
  }
  